body {
    font-family: 'Lato', sans-serif;
    color: #333;
		max-width: 100%;
    overflow-x: hidden;
    
}


img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
}

h2 {
	font-size: 2.1875rem;
	line-height: .97;
}