body {
    font-family: 'Lato', sans-serif;
    color: $black;
		max-width: 100%;
    overflow-x: hidden;
    
}


img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $darkRose;
    text-decoration: none;
    font-size: 1.5625rem;

}

h2 {
	font-size: 2.1875rem;
	line-height: .97em;
}

h3 {
font-size: 1.375rem;
}