body {
    font-family: 'Lato', sans-serif;
    color: #4A4544;
		max-width: 100%;
    overflow-x: hidden;
    
}
img {
    width: 100%;
    height: auto;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: #c6a1a1;
    text-decoration: none;
    font-size: 1.5625rem;

}
h2 {
	font-size: 2.1875rem;
	line-height: .97em;
}
h3 {
font-size: 1.375rem;
}
.border-show {
    border: 1px solid black;
}
input[type="submit"],
button[type="submit"] {
    display: inline-block;
    padding: 15px 40px;
    margin-bottom: 0;
    font-size: 1.625rem;
    font-weight: 400;
    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
      cursor: pointer;
    background-color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: none;
    border-radius: 4px;
    color: #f4c3c3;
    font-family: 'Lato', sans-serif;
}
input[type="text"] {
    padding: 15px 15px;
    border: none;   
    font-size: 1rem;
}
.site-header {
	
	
	
	width: 100%;
	height: 200px;
	position: relative;
	
	
}
.site-header__logo {		
	
		
		display: block;
		height: auto;
		position: absolute;
		width: 280px;
		
		top: 20%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		
	}
@media (min-width:530px) {
.site-header__logo {
			width: 450px;
		
		top: 20%
		
	}
    }
@media (min-width:800px) {
.site-header__logo {
			width: 800px;
			top: 40%
		
	}
    }
.site-header__menu-content {
		
			position: relative;
	
	}
.site-header__menu-icon {

		
		  width: 23px;
        height: 17px;
        
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 10px;
        
       
    }
.site-header__menu-icon::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }
.site-header__menu-icon__middle {
            position: absolute;
            top: 7px;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }
.site-header__menu-icon::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
           width: 23px;
            height: 2px;
            background-color: #000;
          
        }
.primary-nav {
	
	position: relative;
	font-weight: 300;
	

	margin-left: auto;
	margin-right: auto;
		
	
	z-index: 22;
	
}
@media (min-width:530px) {
.primary-nav {
	
		width: 100%
	
}
    }
@media (min-width:800px) {
.primary-nav {
		width: 700px
	
}
    }
.primary-nav--top {
		padding-top: 100px;
	}
@media (min-width:530px) {
.primary-nav--top {
			padding-top: 90px
	}
    }
@media (min-width:800px) {
.primary-nav--top {
			padding-top: 150px
	}
    }
.primary-nav ul {
				margin: 0;
				padding: 0;
     position: absolute;
		top: 70px;
		
        
    }
.primary-nav ul::after {
        content: "";
        clear: both;
        display: table;
        
    }
@media (min-width:530px) {
.primary-nav ul {
			
			padding-left: 20px
		
        
    }
    }
@media (min-width:800px) {
.primary-nav ul {
				margin: 0;
				padding: 0;
				top:auto
		
        
    }
				.primary-nav ul::after {
        content: "";
        clear: both;
        display: table;
        
    }
    }
.primary-nav li {
        list-style: none;
       
      	width: 100%;
        letter-spacing: .122em;
				float: left;
				display: block;
			
    }
@media (min-width:530px) {
.primary-nav li {
				margin-top: 10px;
				
				 padding-right: 11px;
				display: inline-block;
				background-color: transparent;
				width: auto
			
    }
    }
@media (min-width:800px) {
.primary-nav li {
					background-color: transparent;
            padding-right: 60px;
            float: left;
            display: block;
					width: auto
			
    }
    }
.primary-nav li:last-child {
			
        padding-right: 0px;
			
       
    }
@media (min-width:800px) {
.primary-nav li:last-child {
				padding-right: 0px
			
       
    }
    }
.primary-nav a {
       color: #A8A19B;
			
				text-align: center;
        text-decoration: none;
        font-weight: 300;
        display: block;
			float:left;
				
        padding: 15px;
				padding-right: 20px;
			margin: 0 auto;
        font-size: .75rem;
				color: #000;
        background-color: rgba(255,224,226, .76);
			width:100%;
				
			z-index: 21;
        
    }
@media (min-width:530px) {
.primary-nav a {
				font-size: 1rem;
				border-radius: 5px;
				 padding: 15px 20px
        
    }
    }
@media (min-width:800px) {
.primary-nav a {
            background-color: transparent;
            font-size: 1.125rem;
            padding: 12px 0;
            color: #A8A19B
        
    }
            .primary-nav a.is-current-link {
                color: #fabb69;
            }
    }
.hero {
	
	
	position: relative;
	z-index: 1;
}
.hero__top-padding {
	
			position: absolute;
			top: 110px;
		
	
	
	
		
	
		
	}
@media (min-width:800px) {
.hero__top-padding {
			position: relative;
			top:0;
			margin-top: 20px
		
	
	
	
		
	
		
	}
    }
.hero__wrapper {
		
		width: 100%;
		height: auto;
		margin: 0 auto;
		
	
		
		
		
	}
@media (min-width:800px) {
.hero__wrapper {			
			padding-top: 20px
		
	
		
		
		
	}
    }
.hero__text-content {
		padding: 0 30px;
		width: 100%;
		padding-top: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		
		width: 100%;
		text-align: center;  
		margin: 0;
	}
@media (min-width:530px) {
.hero__text-content {
			margin: 0 0px
	}
    }
.hero__img {
		z-index: 0;
		
	}
.hero__title {
		font-style: italic;
		color: #c6a1a1;
		font-size: 1.4375rem;
		font-weight: 400;
		
		
	}
@media (min-width:530px) {
.hero__title {
			font-size: 1.9375rem
		
		
	}
    }
@media (min-width:800px) {
.hero__title {
			font-size: 2.1875rem
		
		
	}
    }
.hero__subtitle {
		font-size: 1.3125rem;
		font-weight: 400;
		margin-top: -.6em;
		
	}
@media (min-width:530px) {
.hero__subtitle {
			font-size: 2.4375rem
		
	}
    }
@media (min-width:800px) {
.hero__subtitle {
			font-size: 3.25rem
		
	}
    }
.wrapper {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	
	//border: solid black 1px;
  
}
@media (min-width:1000px) {
.wrapper {
		 width: 960px;
    max-width: 100%
  
}
    }
@media (min-width:1200px) {
.wrapper {
		width: 1164px;
		max-width: 100%
  
}
    }
.wrapper--medium {
		max-width: 840px;
	}
.wrapper .wrapper {
      	padding-left: 0px;
        padding-right: 0;
	
		
		}
.row::after {
        content: "";
        clear: both;
        display: table;
        
    }
.row--gutters {
        margin-right: -61px;
    }
.row--gutters > div {
        padding-right: 61px;
       
    }
.row--gutters-small {
        margin-right: -45px;
    }
.row--gutters-small > div {
		padding-right: 45px;
    }
.row__medium-5 {
		width: 41.667%;
		float: left;
	}
.row__medium-7 {
		width: 58.333%;
		float: left;
	}
.row__medium-6 {
		width: 50%;
		float: left;
	}
.row__offset-3 {
		margin-left: 25%;
		
	}
.row__bottom-padding {
		padding-bottom: 25px;
	}
.row__top-padding {
		padding-top: 50px;
	}
.page-section {
	position: relative;
	padding: 1.2rem 0;
		
}
@media (min-width:800px) {
.page-section {
	        padding: 6.375rem 0 4rem 0
		
}
    }
.generic-content-container p {
        font-weight: 300;
        line-height: 1.2;       
        margin: 0 0 1.8rem 0;
        
    }
@media (min-width:530px) {
.generic-content-container p {
             font-size: 1.375rem
        
    }
    }
.generic-content-container p a {
        font-weight: 700;
    }
.headline {
	font-size: 1.9rem;
	font-weight: 400; 
	position: 	relative;
}
.headline--italic {
		font-style: italic;
	}
.headline--darkrose {
		color: #c6a1a1;
	}
.headline--no-t-margin {
		margin-top: 0;
	}
.headline__bg {
		font-size: 6.25rem;
		font-weight: 700;
		color: #F3F2F2;
		z-index: 1;
		letter-spacing: .324em;

	}
.headline--center {
		text-align: center;
	}
.headline--big {
		font-size: 3.6875rem;
		font-weight: 700;
	}
.headline__absolute {
    	position: absolute;
    	top: 0;
    	left:50%;
    	-webkit-transform: translateX(-50%);
    	        transform: translateX(-50%);

    }
.headline__top {
    	z-index: 12;
    }
.headline__sub {
    	font-size: 1.375rem;
    	margin-top: -20px;
    	letter-spacing: .262em;
    }
.about--right {
		float: right;
	}
.services {
	
	background-color: rgba(255,234,224,.75);
	position: relative;
	padding: 15px;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: italic;
}
.services--center{
			}
.services__icon {
		
		margin-bottom: 0;
	}
.services__icon--center {
			text-align: center;
			
		}
.services__icon > img {
		width: 60px;
		height: auto;
		
	}
.services__border {
		border: 1px solid #fff;
		padding: 25px;

	}
.services__border > p {
		margin: 10px 20px 30px 20px;
		

		
	}
.services__link {
		font-size: 1.125rem;
		text-align: center;
		display: block;

		

		

	}
.go-to-next {
	position: relative;
font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	
	width: 50%;




}
.go-to-next--center {
		text-align: center;
	}
.go-to-next--t-b-border {
		border-top:  solid 1px #95989A;
		border-bottom:  solid 1px #95989A;
	}
.go-to-next__content {
	
		
		position: relative;
	}
.go-to-next__content ul {
			
			margin: 0;
			padding: 0;    		
    		display: inline-block;
			margin-left: auto;
			margin-right: auto;
			
		}
.go-to-next__content ul::after {
        content: "";
        clear: both;
        display: table;
        
    }
.go-to-next__content li {
			
			list-style: none;
			float: left;
			display: block;
			padding-right: 75px;
			
		}
.go-to-next__content li:last-child {
			padding-right: 0;
		}
.go-to-next__content a {
			text-align: center;
			display: block;
			font-size: 2.125rem;
			font-style: italic;
			font-weight: 400;
		}
.opt-ins {
		background-color: rgba(244,195,195,.7);
	color: #fff;
	padding: 40px 20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;;
	z-index: 14;





	
}
.opt-ins__content {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.625rem;
		letter-spacing: .072em;
		line-height: 1.23em;
		padding: 0 100px;
		
	}
/* titlewithstrike */
.opt-ins__title {

		
		display: -webkit-box;

		
		display: -ms-flexbox;

		
		display: flex;
		font-style: italic;
		font-size: 2.0625rem;
		font-weight: 400;
		letter-spacing: 0;

		
	}
.opt-ins__title:before, .opt-ins__title:after {
		color: #fff;
		content: '';
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		border-bottom: solid 1px #fff;
		margin: auto 1em;

	}
.opt-ins__submit {
		display: block;
		margin-top: 30px;
	}
.opt-ins__email {
		margin-top: 40px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width:60%;


	}
.opt-ins__img {

		background: url('../../assets/images/sign-up-bg.png') top center no-repeat;
              background-size: cover;
              
	}