body {
    font-family: 'Lato', sans-serif;
    color: #333;
		max-width: 100%;
    overflow-x: hidden;
    
}


img {
    width: 100%;
    height: auto;
}


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


a {
    color: black;
}


h2 {
	font-size: 2.1875rem;
	line-height: .97;
}


.site-header {
	
	
	
	width: 100%;
	height: 200px;
	position: relative;
	
	
}


.site-header__logo {		
	
		
		display: block;
		height: auto;
		position: absolute;
		width: 280px;
		
		top: 20%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		
	}


@media (min-width:530px) {


.site-header__logo {
			width: 450px;
		
		top: 20%
		
	}
    }


@media (min-width:800px) {


.site-header__logo {
			width: 800px;
			top: 40%
		
	}
    }


.site-header__menu-content {
		
			position: relative;
	
	}


.site-header__menu-icon {

		
		  width: 23px;
        height: 17px;
        
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 10px;
        
       
    }


.site-header__menu-icon::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }


.site-header__menu-icon__middle {
            position: absolute;
            top: 7px;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }


.site-header__menu-icon::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
           width: 23px;
            height: 2px;
            background-color: #000;
          
        }


.primary-nav {
	
	position: relative;
	font-weight: 300;
	

	margin-left: auto;
	margin-right: auto;
		
	
	z-index: 22;
	
}


@media (min-width:530px) {


.primary-nav {
	
		width: 100%
	
}
    }


@media (min-width:800px) {


.primary-nav {
		width: 700px
	
}
    }


.primary-nav--top {
		padding-top: 100px;
	}


@media (min-width:530px) {


.primary-nav--top {
			padding-top: 90px
	}
    }


@media (min-width:800px) {


.primary-nav--top {
			padding-top: 150px
	}
    }


.primary-nav ul {
				margin: 0;
				padding: 0;
     position: absolute;
		top: 70px;
		
        
    }


.primary-nav ul::after {
        content: "";
        clear: both;
        display: table;
        
    }


@media (min-width:530px) {


.primary-nav ul {
			
			padding-left: 20px
		
        
    }
    }


@media (min-width:800px) {


.primary-nav ul {
				margin: 0;
				padding: 0;
				top:auto
		
        
    }
				.primary-nav ul::after {
        content: "";
        clear: both;
        display: table;
        
    }
    }


.primary-nav li {
        list-style: none;
       
      	width: 100%;
        letter-spacing: .122em;
				float: left;
				display: block;
			
    }


@media (min-width:530px) {


.primary-nav li {
				margin-top: 10px;
				
				 padding-right: 11px;
				display: inline-block;
				background-color: transparent;
				width: auto
			
    }
    }


@media (min-width:800px) {


.primary-nav li {
					background-color: transparent;
            padding-right: 60px;
            float: left;
            display: block;
					width: auto
			
    }
    }


.primary-nav li:last-child {
			
        padding-right: 0px;
			
       
    }


@media (min-width:800px) {


.primary-nav li:last-child {
				padding-right: 0px
			
       
    }
    }


.primary-nav a {
       color: #A8A19B;
			
				text-align: center;
        text-decoration: none;
        font-weight: 300;
        display: block;
			float:left;
				
        padding: 15px;
				padding-right: 20px;
			margin: 0 auto;
        font-size: .75rem;
				color: #000;
        background-color: rgba(255,224,226, .76);
			width:100%;
				
			z-index: 21;
        
    }


@media (min-width:530px) {


.primary-nav a {
				font-size: 1rem;
				border-radius: 5px;
				 padding: 15px 20px
        
    }
    }


@media (min-width:800px) {


.primary-nav a {
            background-color: transparent;
            font-size: 1.125rem;
            padding: 12px 0;
            color: #A8A19B
        
    }
            .primary-nav a.is-current-link {
                color: #fabb69;
            }
    }


.hero {
	
	
	position: relative;
	z-index: 1;
}


.hero__top-padding {
	
			position: absolute;
			top: 110px;
		
	
	
	
		
	
		
	}


@media (min-width:800px) {


.hero__top-padding {
			position: relative;
			top:0;
			margin-top: 20px
		
	
	
	
		
	
		
	}
    }


.hero__wrapper {
		
		width: 100%;
		height: auto;
		margin: 0 auto;
		
	
		
		
		
	}


@media (min-width:800px) {


.hero__wrapper {			
			padding-top: 20px
		
	
		
		
		
	}
    }


.hero__text-content {
		padding: 0 30px;
		width: 100%;
		padding-top: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		
		width: 100%;
		text-align: center;  
		margin: 0;
	}


@media (min-width:530px) {


.hero__text-content {
			margin: 0 0px
	}
    }


.hero__img {
		z-index: 0;
		
	}


.hero__title {
		font-style: italic;
		color: #c6a1a1;
		font-size: 1.4375rem;
		font-weight: 400;
		
		
	}


@media (min-width:530px) {


.hero__title {
			font-size: 1.9375rem
		
		
	}
    }


@media (min-width:800px) {


.hero__title {
			font-size: 2.1875rem
		
		
	}
    }


.hero__subtitle {
		font-size: 1.3125rem;
		font-weight: 400;
		margin-top: -.6em;
		
	}


@media (min-width:530px) {


.hero__subtitle {
			font-size: 2.4375rem
		
	}
    }


@media (min-width:800px) {


.hero__subtitle {
			font-size: 3.25rem
		
	}
    }


.wrapper {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	
	//border: solid black 1px;
  
}


@media (min-width:1000px) {


.wrapper {
		 width: 960px;
    max-width: 100%
  
}
    }


@media (min-width:1200px) {


.wrapper {
		width: 1164px;
		max-width: 100%
  
}
    }


.wrapper--medium {
		max-width: 840px;
	}


.wrapper .wrapper {
      	padding-left: 0px;
        padding-right: 0;
	
		
		}


.row::after {
        content: "";
        clear: both;
        display: table;
        
    }


.row--gutters {
        margin-right: -61px;
    }


.row--gutters > div {
        padding-right: 61px;
       
    }


.row__medium-5 {
		width: 41.667%;
		float: left;
	}


.row__medium-7 {
		width: 58.333%;
		float: left;
	}


.page-section {
	
	position: relative;
	padding-top: 102px;

}


.generic-content-container p {
        font-weight: 300;
        line-height: 1.2;       
        margin: 0 0 1.8rem 0;
        
    }


@media (min-width:530px) {


.generic-content-container p {
             font-size: 1.375rem
        
    }
    }


.generic-content-container p a {
        font-weight: 700;
    }


.headline {
	font-size: 1.9rem;
	font-weight: 400;
    
}


.headline--italic {
		font-style: italic;
	}


.headline--darkrose {
		color: #c6a1a1;
	}