.footer {
	background-color: rgba($blushPink,.49);
	position: relative;
	padding-top: 0px;

	height: 170px;

	margin-left: -20px;
	margin-right: -20px;

	
	@mixin atSmall {
		padding-top: 62px;
		height: 170px;
		margin:inherit;
	}


	@mixin atMedium {
		padding-top: 25px;
		height: 100px;
		margin:inherit;
	}
	


	
	&__sign {
		position: absolute;
		top: -90px;
		left: 50%;
		transform: translateX(-50%);

	
		width: 103px;
		height: auto;
		z-index: 15;
		display: none;
		@mixin atSmall {
			display: inherit;
		}

	}

	&__copy {
		
		position: relative;
		
		font-weight: 1.25rem;
		font-style: italic;
		color: $rose;
		margin-left: 20px;
	
		@mixin atMedium {
			margin-left: 50px;
		}
		


	}
	&__social-media {

		
		border: red 1px solid;
		width: 100%;
		position: absolute;
			left:0;
			
			top: 50%;
			transform: translateY(-50%);

		@mixin atSmall {
			position: absolute;
			top: 0;
			right: 0;

			top: 50%;
			transform: translateY(-40%);
		}


		ul {
			margin: 0;
			padding: 0;
			@mixin clearFix;
		    position: relative;
		    float: right;
		
		
		}

		li {
			list-style: none;
			display: inline-block;
			padding-right: 20px
		}
		img {
			width: 47px;

		}
	}
}