.footer {
	background-color: rgba($blushPink,.49);
	position: relative;
	padding-top: 0px;
	padding-bottom: 130px;
	height: 170px;
	margin-left: -25px;
	margin-right: -25px;
	
	@mixin atSmall {

		padding-top: 62px;
		
		margin:inherit;
		height: inherit;
		padding-bottom: 80px;
		
	}


	@mixin atMedium {
		padding-top: 25px;
		margin:inherit;
		height: inherit;
		padding-bottom: 120px;
		
		
	}
	


	
	&__sign {

		position: absolute;
		top: -90px;
		left: 50%;
		transform: translateX(-50%);
		
	
		width: 103px;
		height: 100px;
		z-index: 15;
		display: none;
		@mixin atSmall {
			display: block;
		}

	}

	&__copy {
	
		position: absolute;
		font-weight: 1.25rem;
		font-style: italic;
		color: $rose;
		margin-left: 20px;
		top: 70%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		margin-left: 0;
		@mixin atSmall {

			
			left: 0;
			margin-left: 50px;
			top: 40%;
			transform: translateY(-50%);
			
		}
		


	}
	&__social-media {

		
		
		width: 100%;
		position: absolute;
		
		left: 50%;
		top:50%;
		transform: translate(-50%,-50%);

		text-align: center;

		

			

		@mixin atSmall {
			
			

			text-align: right;
			padding-right: 20px;
			
		}


		
	}
}