.go-to-next {
	position: relative;
font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	
	width: 100%;
	@mixin atMedium {
		width: 50%;
	}

	&--center {
		text-align: center;
	}

	&--t-b-border {
		border: none;
		
		@mixin atMedium {
			border-top:  solid 1px $darkgray;
			border-bottom:  solid 1px $darkgray;
		}	
		
	}

	&__title {
		font-size: 1.375rem;
		letter-spacing: .05em;
		font-weight: 300;
		text-transform: uppercase;
		
		@mixin atSmall {
			font-size: 1.6875rem;
			letter-spacing: .074em;
		}
	}

	&__content {
	
		
		position: relative;
		display: inherit;
		text-align: center;
		width: 100%;
		ul {
			
			margin: 0;
			padding: 0;
			@mixin clearFix;    		
    		display: inline-block;
			margin-left: auto;
			margin-right: auto;
			
		}

		li {
			
			list-style: none;
			float: left;
			display: inline-block;
			width: 100%;
			
			@mixin atSmall {
			display: inherit;
			width: auto;
			padding-right: 80px;				
			}
			
		}

		li:last-child {
			padding-right: 0;
		}

		a {
			
			
			text-align: center;
			
			font-size: 1.875rem;
			font-style: italic;
			font-weight: 400;
			
			@mixin atSmall {
				display: inherit;
				font-style: 2.125rem;
			}
		}
	}




}