.hero {
	
	
	position: relative;
	z-index: 1;	
	
	
	&__top-padding {
			
		margin-top: 50px;

		@mixin atSmall {
			margin-top: 70px;
		}
		
		@mixin atMedium {				
			margin-top: -10px;
		}
		
	
		
	}
	
	&__wrapper {
		
		width: 100%;
		height: auto;
		margin: 0 auto;
		
		@mixin atMedium {			
			padding-top: 20px;
		}
		
	
		
	}



	
	&__text-content {
		padding: 0 30px;
		width: 100%;
		padding-top: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		width: 100%;
		text-align: center;  
		margin: 0;
		@mixin atSmall {
			margin: 0 0px;
		}
	}
	
	&__img {
		z-index: 0;
		
	}
	
	&__title {
		font-style: italic;
		color: $darkPeach;
		font-size: 1.4375rem;
		font-weight: 400;
		
		@mixin atSmall {
			font-size: 1.9375rem;
		}
		@mixin atMedium {
			font-size: 2.1875rem;
		}
		
		
	}
	
	&__subtitle {
		font-size: 1.3125rem;
		font-weight: 400;
		margin-top: -.6em;
		
		@mixin atSmall {
			font-size: 2.4375rem;
		}
		@mixin atMedium {
			font-size: 3.25rem;
		}
		
	}
}