.opt-ins {
	/* background: rgba($rose,.7) url('../../assets/images/sign-up-bg.png') top center no-repeat; */
	background-color: rgba($rose,.7);

	
	color: #fff;
	
	position: relative;
	margin-left: -25px;
	margin-right: -25px;
	text-align: center;;
	z-index: 14;
	padding: 40px 10px;

	@mixin atSmall {
		padding: 40px 20px;
		background: linear-gradient(rgba($rose,.7),rgba($rose,.7)), url('../../assets/images/sign-up-bg.png');
		
	position: relative;
	margin-left: auto;
	margin-right: auto;
	}



	&__content {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		
		font-size: 1.3125rem;
			letter-spacing: .037em;
			line-height: 1.23em;
		padding: 0 50px;

		
		@mixin atMedium {
			font-size: 1.625rem;
			letter-spacing: .072em;
			line-height: 1.23em;
			padding: inherit;
		}
		
	}


	/* titlewithstrike */
	&__title {

		
		display: block;
		font-style: italic;
		font-size: 1.875rem;
		font-weight: 400;
		letter-spacing: 0;
		


		@mixin atMedium {
			display: flex;
			font-size: 2.0625rem;
		}

		
	}

	&__title:before, &__title:after {
		color: #fff;
		content: '';
		flex: 1;
		border-bottom: solid 0 #fff;
		margin: 0;

		@mixin atSmall {
			border-bottom: solid 1px #fff;
			margin: auto 1em
		}
				

	}

	&__submit {
		display: block;
		margin-top: 30px;
		
	}


	&__email {
		margin-top: 40px;
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		text-align: center;
		width:100%;
		height: 50px;





	}

	&__img {

		
              
	}





	
}