.page-section {
	position: relative;
	padding: 1.2rem 0;       
	    @mixin atMedium {
	        padding: 6.375rem 0 4rem 0;
	    }


	&__last {
		
		padding: 0;  
		@mixin atSmall {
			padding:  4rem 0 8rem 0;
		}
		
	}
		
}