.page-section {
	position: relative;
	padding: 1.2rem 0;       
	    @mixin atMedium {
	        padding: 6.375rem 0 4rem 0;
	    }


	&__last {
		
		padding: 0;  
		@mixin atSmall {
			padding:  4rem 0 8rem 0;
		}
		
	}

	&__top-alignment-header {
		padding-top: 4rem;

		@mixin atSmall {
			padding-top: 6rem;
		}

		@mixin atMedium {
			padding-top: 6rem;
		}


	}

	&__t-margin-small {
		transform: translateY(-60px);
		padding-bottom: 0;
		@mixin atSmall {
			transform: translateY(-50px);
		}
		@mixin atMedium {
			transform: translateY(-100px);
		}

	}
		
}