.primary-nav {
	
	position: relative;
	font-weight: 300;
	

	margin-left: auto;
	margin-right: auto;
	width: auto;
	
	z-index: 22;
	
	
	
	@mixin atSmall {
	
		width: 100%;
	}
	
	@mixin atMedium {
		width: 700px;
	}
	
	&--top {
		padding-top: 100px;
		
		
		
		@mixin atSmall {
			padding-top: 90px;
		}
		
		@mixin atMedium {
			padding-top: 150px;
			
		}
	}
	
	
		
	ul {
		margin: 0;
		padding: 0;
		@mixin clearFix;		
		position: absolute;
		left:0;
		top: 70px;		

		
		
		@mixin atMedium {
			margin: 0;
			padding: 0;
			@mixin clearFix;
			top:auto;
		}
		
        
    }
    
    li {

    	margin: 0;
    	padding: 0;
    	list-style: none;
    	@mixin clearFix;


    	width: 100%;
    	letter-spacing: .122em;

    	display: inline-block;






    	
    	@mixin atMedium {
    		background-color: transparent;
    		padding-right: 60px;
    		float: left;
    		display: block;
    		width: auto;

    	}
			
    }
    
    li:last-child {
			
       
			padding-right: 0;
			@mixin atMedium {
				padding-right: 0px;
			}
			
       
    }
    
    a {
    	color: $darkRose;

    	text-align: center;
    	text-decoration: none;
    	font-weight: 300;
    	display: inline-block;


    	padding: 15px;
		
		
    	

    	
    	
    	background-color: rgba($blushPink, .76);
    	width:100%;

    	z-index: 21;
		font-size: 1.75rem;
    	

    	@mixin atSmall {
    		font-size: 2.4375rem;
    	}
        
        @mixin atMedium {
            background-color: transparent;
            font-size: 1.125rem;
            padding: 12px 0;
            color: #A8A19B;
            font-weight: 400;
            &.is-current-link {
                color: #fabb69;
            }
        }
        
    }
	
}
