.primary-nav {
	
	position: relative;
	font-weight: 300;
	

	margin-left: auto;
	margin-right: auto;
	width: auto;
	
	z-index: 22;
	
	
	
	@mixin atSmall {
	
		width: 100%;
	}
	
	@mixin atMedium {
		width: 700px;
	}
	
	&--top {
		padding-top: 100px;
		
		
		
		@mixin atSmall {
			padding-top: 90px;
		}
		
		@mixin atMedium {
			padding-top: 150px;
			
		}
	}
	
	
		
	ul {
				margin: 0;
				padding: 0;
				@mixin clearFix;
				
     position: absolute;
     left:0;
		top: 70px;

		
				
		@mixin atSmall {
			
			padding-left: 20px;
			
		}
		
		@mixin atMedium {
				margin: 0;
				padding: 0;
				@mixin clearFix;
				top:auto;
		}
		
        
    }
    
    li {

    	margin: 0;
    	padding: 0;
        list-style: none;
        @mixin clearFix;

       
      	width: 100%;
        letter-spacing: .122em;
				
				display: inline-block;
				
				
				
				
				
			
			@mixin atSmall {
				margin-top: 10px;
				
				 padding-right: 11px;
				display: inline-block;
				background-color: transparent;
				width: auto;
			}
        @mixin atMedium {
					background-color: transparent;
            padding-right: 60px;
            float: left;
            display: block;
					width: auto;
					
        }
			
    }
    
    li:last-child {
			
       
			padding-right: 0;
			@mixin atMedium {
				padding-right: 0px;
			}
			
       
    }
    
    a {
    	color: #A8A19B;

    	text-align: center;
    	text-decoration: none;
    	font-weight: 300;
    	display: inline-block;


    	padding: 15px;
		
		
    	

    	font-size: .75rem;
    	color: #000;
    	background-color: rgba($blushPink, .76);
    	width:100%;

    	z-index: 21;

    	@mixin atSmall {
    		font-size: 1rem;
    		border-radius: 5px;
    		padding: 15px 20px;
    		margin-left: inherit;
    		margin-right: inherit;
    	}
        
        @mixin atMedium {
            background-color: transparent;
            font-size: 1.125rem;
            padding: 12px 0;
            color: #A8A19B;
            &.is-current-link {
                color: #fabb69;
            }
        }
        
    }
	
}
