.row {
	@mixin clearFix;
	
	&--gutters {
        margin-right: -61px;
    }
	&--gutters > div {
        padding-right: 61px;
       
    }

    &--gutters-small {
        margin-right: -45px;
    }
    
    &--gutters-small > div {
		padding-right: 45px;
    }

	&__medium-5 {
		width: 41.667%;
		float: left;
	}
	
	&__medium-7 {
		width: 58.333%;
		float: left;
	}

	&__medium-50 {
		width: 50%;
		float: left;
	}

}