.services {
	
	background-color: rgba($peach,.75);
	position: relative;
	padding: 15px;
	font-size: 1.375rem;
	font-weight: 300;
	font-style: italic;

	margin-left: -10px;
	margin-right: -10px;
	
	@mixin atSmall {
		font-size: 1.5rem;
		margin-left: auto;
		margin-right: auto;
		


	}


	&--center {
	
	}


	&__icon {

		display: block;
        margin: 0 auto;
       
		
	}

	/* &__icon > img {
		width: 60px;
		height: auto;
		
	} */

	&__border {

		border: none;
		padding: 25px;
		font-size: 1.125rem;

		@mixin atSmall {
			border: 1px solid #fff;
			padding: 25px;
		}

	}

	&__border > p {
		margin: 10px 20px 30px 20px;
		text-align: center;
		@mixin atSmall {
			margin: 10px 50px 30px 50px;
			text-align: left;
		}
		@mixin atMedium {
			margin: 10px 40px 30px 50px;
			text-align: left;

		}
		

		
	}

	

	&__link {
		font-size: 1.125rem;
		text-align: center;
		display: inherit;
		padding: 15px;
		border-radius: 2px;
		border: 2px solid $rose;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 115px;
		

		@mixin atSmall {

			border: none;
			width: auto;

		}

		

		

	}
}