.site-header {
	
	
	width: 100%;	
	position: relative;	
	z-index: 30;
	/* background-color: $blushPink;
	height: 100vh;
	 */
	@mixin atMedium {

		height: 200px;
		background-color: transparent;
		display: block;
	}

	&__b-accent {
		position: relative;
		
		width: inherit;
		margin-left: auto;
		margin-right: auto;
		margin-top: 120px;
		width: 100%;
		display: block;
		
		display: none;
		
		
		
	}

	 &__b-accent:after {

		content: '';
		border-bottom: solid 1px $white;
		margin-top: 180px;
		
		margin-right: 550px;
		width: 100%;
		display: block;

		@mixin atMedium {
			display: none;
		}

		
		
	}

	&__logo {		
	
		
		
		
		position: absolute;
		width: 280px;
		
		top: 20%;
		left: 50%;
		transform: translate(-50%,-50%);
		
		display: block;
		
		@mixin atSmall {
			display: block;
			width: 450px;		
		top: 20%;
		}
		
		@mixin atMedium {
			display: block;
			width: 800px;
			top: 40%;
			
		}
		
	}

	&__name {
		color: $white;
		font-size: 2rem;
		font-style: italic;
		font-weight: 300;
		
		display: flex;
		
		text-align: center;
		padding: 12% 40px;
		@mixin atMedium{
			display: none;
		}

	}

	&__name:before, &__name:after {
		color: $white;
		content: '';
		flex: 1;
		border-bottom: solid 0 #fff;
		margin: 0;

		@mixin atSmall {
			border-bottom: solid .5px $white;
			margin: auto 1em
		}
				

	}

	



	
	
	&__menu-content {
		display: block;
		margin-top:-80px;
	
		@mixin atMedium {
			display: inherit;
			margin-top: inherit;
		}
			
	
	}
	
	&__menu-icon {

		
		  width: 23px;
        height: 17px;
        
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 15px;
     	display: block;

     	@mixin atMedium {
     		display: none;
     	}
       
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }
        
        &__middle {
            position: absolute;
            top: 7px;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: #000;
           
        }
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
           width: 23px;
            height: 2px;
            background-color: #000;
          
        }


        
       
    }
	
	
}