.site-header {
	
	top: 0;
	width: 100%;	
	position: fixed;	
	background-color: $white;
	height: 50px;
	z-index: 50;
	transition-timing-function: ease-in-out;
	transition: all .3s; 
	

	&__wrapper {


		width: 100%;
		max-width: 799px;
		margin-left: auto;
		margin-right: auto;

		@mixin atMedium {
			width: 100%;
			max-width: 1200px;
		}
		
		
	
	}
	

	@mixin atSmall {
	 	position: fixed;	 	
	 	height:  70px;
		background-color: $white;

	 
	 }

	@mixin atMedium {
		position: relative;
		height: 200px;
		background-color: transparent;
		display: block;
	}


	 &--is-expanded {
	 	position:fixed;
	 	background-color: $blushPink;
		height: 100vh;
		

		@mixin atMedium {
			background-color: transparent;
			position: relative;
			height: 200px;
			display: block;
		}

		
	 }


	&__b-accent {
		position: relative;
		
		width: inherit;
		margin-left: auto;
		margin-right: auto;
		margin-top: 120px;
		width: 100%;		
		display: none;

		&--is-visible {
			display: block;
		}

		
	}

	

	&__logo {		
		
		
		opacity: 1;
		position: relative;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 8px;
		
		&--is-not-visible {
			opacity: 0;
		}
		
		@mixin atSmall {			
			width: 450px;	
			
		
		}
		
		@mixin atMedium {			
			width: 680px;
			opacity: 1;
			
		}
		
	}

	&__name {
		width: 100%;
		color: $white;
		font-size: 1.5rem;
		font-style: italic;
		font-weight: 300;
		display: flex;
		text-align: center;
		
		display: flex;
		


		@mixin strikethru #FFF;


		&--is-visible {
			
			transform: scale(1);
		}
		
		@mixin atSmall {
			font-size: 2rem;
			display: flex;
			
		}

		
		@mixin atMedium{
			display: none;

		}



	}

	
	
	&__menu-content {
		
		
		vertical-align: center;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		&--is-visible {
			opacity: 1;
		}

		@mixin atSmall {
			margin-top: 0px;
		}
	
		@mixin atMedium {
			display: block;			
			margin-top: 0;
			opacity: 1;
		}
			
	
	}
	
	&__menu-icon {

		
		width: 23px;
        height: 23px;
        
        position: absolute;
        z-index: 10;
        top: 15px;
        right: 15px;
     	
			

     	@mixin atMedium {
     		display: none;
     	}
       
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: $black;
             transform-origin: 0 0;
            
            transition: all .3s ease-out;
           
        }
        
        &__middle {
            position: absolute;
            top: 10px;
            left: 0;
            width: 23px;
            height: 2px;
            background-color: $black;
             
            transform-origin: 0 50%;
            

           
            transition: all  .3s ease-out;
           
        }
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
           width: 23px;
            height: 2px;
            background-color: $black;
             transform-origin: 0 100%;
             transition: transform .3s ease-out;
          
        }

        &--close-x {
			 top: 15px;
        right: 31px;

        &::before {
			
            transform: rotate(45deg) scaleX(1.39);  
                    
            
        }
        
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.39) translateY(1px);
        }
    }


        
       
    }
	
	
}