.social-icons {
	text-align: center;
	z-index: 35;
	position: relative;
	display: block;
	width: 100%;
	@mixin atMedium {
		display: none;
	}


	&__menu {
		opacity: 0;		
		
		animation: FadeInIcon 1s ease-in ;
		animation-fill-mode: both;
		animation-delay: 1.5s;
	}

	&--b-padding {
		
		position: absolute;
		
		left: 50%;
		top:70%;
		transform: translateX(-50%);
		
		@mixin atSmall {
			
		}
		
	}

	&__icon {

		position: relative;
		display: inline-block;
		width: 70px;
		height: 50px;
		

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

		}

		

		&--footer {
			width: 60px;
		}


		

	}

	
}

@keyframes FadeInIcon {
	0% {
		opacity: 0;
		
	}

	50% {
		opacity: .5;
	}
	100% {
		
		opacity: 1;
	}

	
}