.wrapper {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;

	&--none {
		

		padding-left: 0;
		padding-right: 0;
		

		@mixin atSmall {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	
	//border: solid black 1px;
	
	
	@mixin atLarge {
		 width: 960px;
    max-width: 100%;
	}
	
	
	@mixin atXL {
		width: 1164px;
		max-width: 100%;
	}
	
	&--medium {
		max-width: 840px;
	}
	.wrapper {
      	padding-left: 0px;
        padding-right: 0;
	
		
		}
  
}